<h1><%= @recipe.name %></h1>

<h3>To make this, you'll need the following ingredients:</h3>
  <p><%= @recipe.ingredients %></p>

<h3>With a cook time of approximately: <h3>
  <p><%= @recipe.cook_time %> minutes</p>

<h3>If you no longer wish to keep this recipe delete it here: </h3>
  <form method="POST" action=""
